<div class="input">
    <label for="<%= inputname %>"><%= label %></label>
    <input type="<%= type %>" name="<%= inputname %>" placeholder="<%= placeholder %>"
        value="<%= locals[inputname] %>" />
</div>