<!DOCTYPE html>
<html lang="en">
  <%- include("head.ejs", {title: "Level " + levelNo}) %>
  <body>
    <%- include("navbar.ejs") %>

    <style>
      form .input input {
        width: 500px;
      }

      form .half {
        width: 500px;
        display: flex;
        justify-content: space-between;
        margin-top: -20px;
      }

      form .half .input {
        width: 45%;
      }

      form .half .input input {
        width: 100%;
      }
    </style>

    <div class="body-container">
      <a href="/levels">Back to levels</a>
      <h1 style="margin: 30px 0">Level <%- levelNo %> (<%- level.id %>)</h1>
      <form action="/levels/<%- level.id %>" method="post">
        <input type="hidden" name="_csrf" value="<%- csrfToken %>" />
        <div class="input">
          <label for="question">Question</label>
          <input
            type="text"
            placeholder="Who is our God?"
            name="question"
            value="<%- level.question %>"
          />
        </div>
        <div class="input">
          <label for="sourceHint">Source Hint</label>
          <input
            type="text"
            placeholder="darthfire"
            name="sourceHint"
            value="<%- level.sourceHint %>"
          />
        </div>
        <div class="half">
          <div class="input">
            <label for="answer">Answer</label>
            <input
              type="text"
              placeholder="aaryakgarg"
              name="answer"
              value="<%- level.answer %>"
            />
          </div>
          <div class="input">
            <label for="points">Points</label>
            <input
              type="text"
              placeholder="10000000000"
              name="points"
              value="<%- level.points %>"
            />
          </div>
        </div>

        <button type="submit" style="margin: 20px 0">Edit</button>
      </form>

      <div class="delete" style="margin: 20px 0">
        <form action="/levels/delete" method="post" id="delete">
          <input type="hidden" id="id" name="id" value="<%- level.id %>" />
          <input
            type="hidden"
            id="_csrf"
            name="_csrf"
            value="<%- csrfToken %>"
          />
          <button type="submit" style="margin: 20px 0">Delete Level</button>
        </form>
      </div>
    </div>

    <%- include("footer.ejs") %>
  </body>
</html>
